<div class="container">

    <% Postulation.status.each do |status| %>
        <%= button_to "POSTULAR", user_postulation_path(offer_id: @offer.id, status: status), method: :post, class:"btn btn-info" %>
    <% end %>

</div>
