<p style="color: green"><%= notice %></p>
<h1>Ofertas Postuladas</h1>
<div class="mt-4">
    <% @offers.each do |offer| %>
        <p>
            <strong>Oferta Laboral:</strong>
            <%= offer.title %>
        </p>

        <p>
            <strong>Estado: </strong>
            <%= offer.find_status_user_relation(current_user) %>
        </p>

        <p class="text-end">
            <%= link_to "Ver Oferta Laboral", offer, class:"btn boton_color fw-bold" %>
        </p>
        
    <% end %>
</div>
