<div id="<%= dom_id user %>">
    <div class="d-flex ">

        <div class="card card_user">

            <div class="card-img-top">
                <%= image_tag user.image, class: 'foto_perfil' %>
            </div>
            <br>
            <h5 class="card-title"><%= user.name %></h5>
            </div>
        </div>
    </div>
</div>
