<div id="<%= dom_id user %>">
    <div class="d-flex ">

        <div class="card card_user">

            <div class="card justify-content-center">
                <%= image_tag user.image if user.image.attached?, class: 'foto_perfil' %>
            </div>
            <br>
            <h5 class="card-title text-center"><%= user.name %></h5>
            <div class="card-body text-center">
                <%= link_to "Ver usuario", user, class:"btn boton_color" %>
            </div>
        </div>
    </div>
</div>

