<p style="color: green"><%= notice %></p>

<% content_for :title, "Desafio JOBS", class:"text center" %>

<h1>Lista de Usuarios</h1>

<%= link_to 'Registrar Nuevo Usuario', new_user_registration_path, class: "btn btn-success text-end" %>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>
