<div class="image-container">
    <%= image_tag("https://blog.bechallenge.io/wp-content/uploads/2022/06/equipo-1536x1025.jpg", class:"") %>
    <%= button_to "Comenzar", offers_path, method: :get, class:"overlay-button" %>
</div>

