<div id="<%= dom_id offer %>">
  <div class="d-flex base_offer">
    <div class="card justify-content-center col-3">
      <%= image_tag offer.images[0], class: 'imagen_oferta' %>
    </div>

      <div class="card">
        <h5 class="card-title"><%= offer.title %></h5>
        <p class="card-text texto_carta">
          <strong>Descripcion: </strong><%= offer.description%><br>
        </p>
      </div>
    </div>

  </div>
